<div class="flex bg-black h-full ">
    <div class="w-1/4 bg-black h-screen ">
      <div class="fixed w-1/4">
        <div class="bg-[#121212] rounded-lg  flex flex-col  gap-y-5  m-2 p-5">
          <div class="w-full ms-3flex  ">
            <img class="w-fit h-8 "
              src="../../../assets/Spotify_Logo_CMYK_White-768x230.png"
              alt=""
            />
          </div>
          <div class="w-fit gap-x-3 ms-3  font-medium flex items-center text-white text-opacity-65 hover:cursor-pointer hover:text-opacity-100">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class=" h-8 w-fit "
            ><path
                d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z"
              />
              <path
                d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z"
              /></svg> <a [routerLink]="['/']" class="text-base ">Home</a>
          </div>
          <div class="w-fit ms-3 font-medium flex items-center gap-x-3 text-white text-opacity-65 hover:cursor-pointer hover:text-opacity-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-fit h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg><a [routerLink]="['/search']" class="text-lg">Search</a>
          </div>
        </div>
        <div class="bg-[#121212] rounded-lg  flex flex-col  gap-y-5  m-2 p-5">
          <div class="w-fit gap-x-3 ms-3 font-medium flex items-center text-white text-opacity-65 hover:cursor-pointer hover:text-opacity-100">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class=" h-8 w-fit "
            ><path
                d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z"
              />
              <path
                d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z"
              /></svg> <a class="text-base ">Your Library</a>
          </div>
          <div class="w-fit ms-3 font-medium flex items-center gap-x-3 text-white text-opacity-65 hover:cursor-pointer hover:text-opacity-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-fit h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg><a class="text-lg">Create Playlist</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3/4 bg-[#191919] m-2 rounded-lg container ">
      <div>
      <router-outlet> </router-outlet>    
    </div>
    </div>
  </div>